body {
  background-color: #121212;
  color: #eee;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}
.logo {
  max-height: 80px;
  margin-bottom: 10px;
}
header {
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
}
nav a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
section {
  padding: 20px;
  text-align: center;
}
.member-card {
  background: linear-gradient(135deg, #ff00cc, #3333ff);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px #ff00cc44;
  color: #fff;
}
.member-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.loadout {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.weapon {
  text-align: center;
}
.weapon-img {
  width: 200px;
  border-radius: 0px;
  box-shadow: 0 0 8px #00ffee88;
  transition: transform 0.3s ease;
}
.weapon-img:hover {
  transform: scale(2.0);
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
input, textarea {
  margin-bottom: 10px;
  padding: 10px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
}
button {
  padding: 10px;
  background-color: #ff4757;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
footer {
  background-color: #1f1f1f;
  color: #888;
  text-align: center;
  padding: 10px;
}
